@import "tailwindcss";
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.btn-primary {
  @apply bg-blue-600 text-white px-5 py-2 rounded-lg hover:bg-blue-700;
}

.btn-secondary {
  @apply border px-5 py-2 rounded-lg;
}